<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="css/style_index.css">
		
		<title>
			Доступные автомобили
		</title>
	</head>
	<body >
		
		
		
		 	<view class="resetbut">
	 <form action="/reset" method="POST"> 
		
				<button name="reset"onclick='if(confirm("You want reset turn?")) { value="true" } else{value="false"}'>
					reset
				</button> 
		</form>
		<form action="/renderaddcar" method="POST">
			<button>add car</button>
		</form>
		<form action="/verifirender" method="POST">
			<button>verifi</button>
		</form>
		<form action="/importrender" method="POST">
			<button>import</button>
		</form>
		</view>
		

		
		<table align="center">
			<tr>
				<% for(var i=0; i<results.length; i++) {%>
					<td>
						<img src=<%=results[i].urlimg%>   height="165"/><br/>	
						<view class="specif" class="intable">
					<!--		Марка: <%=results[i].marka%><br/>  !-->
     						Модель: <%=results[i].model%><br/>
     					</view>
     					<view class="intable">
     						<form action="/reg" method="POST" id='regist'>
     								<input type="text" placeholder="first name" name="name" autocomplete="off" autofocus></br>
								<button name="id_car" value=<%=results[i]._id%>>
									
									register
									<input type="hidden" name="model_car" value='<%=results[i].model%>'> 
								</button>
							</form>
							<form action="/next" method="POST">
								<button name="id_car" value=<%=results[i]._id%> >
									next
								</button>
							</form>
								
 
						</view>
 					</td>
				<% } %>

			</tr>
			<tr>
					<% for(var i=0; i<results.length; i++) {%>
				
							<td>
							<% for(var j=0; j<results[i].count.length; j++) {%>
						
								
								<div <%if(j == 0){%> style="color:green"<%}%> <%if(j == 1){%>style="color:yellow"<%}else{%>
								style="color:red"<%}%> class="numbers" >
      
        							№<%=results[i].count[j]%> <%=results[i].client[j]%><br/>
								
								</div>

					

					 		<% } %>
							</td>
				 	<% } %>
				
			</tr>
		</table>

  <div id="print-content">
  	
  	<h1><%=printcount%></h1><%=printname%>
		</div>
	
	
	
	
<!--	

<script language="javascript">

 
 function CallPrint(strid) {
  var prtContent = document.getElementById(strid);
  var prtCSS = '<link rel="stylesheet" href="/css/style_print.css" type="text/css" />';
  var WinPrint = window.open('','','left=50,top=50,width=800,height=640,toolbar=0,scrollbars=1,status=0');
  WinPrint.document.write('<div id="print" class="contentpane">');
  WinPrint.document.write(prtCSS);
  WinPrint.document.write(prtContent.innerHTML);
  WinPrint.document.write('</div>');
  WinPrint.document.close();
  WinPrint.focus();
  WinPrint.print();
  WinPrint.close();
  prtContent.innerHTML=strOldOne;

}


</script>

	!-->							



								

	


</html>