<!DOCTYPE html>
<html>
	<head>
			<link rel="stylesheet" type="text/css" href="css/verify_style.css">
		<meta charset="UTF-8"/>
		<title>
			Поиск клиента
		</title>
	</head>
	<body>
		<!-- зчитування qr кода потом реалізую
		<div di="qr" class="verify">
			<button type="submit">Зчитати QR</button>
		</div>
		!-->
		<div di="back" class="verify">
			<form action="/" method="get">
				<button type="submit">Назад</button>
			</form>
		</div>

		<div id="coddb" class="verify">
			<form action="/codverif" method="post">
				Код:	<input type="text" placeholder="cod" name = "codk" pattern="[0-9]{8}"><br/><br/>
				<button type="submit">Ввести код</button>
			</form>
		</div>
		<div id="namedb" class="verify">
			<form action="/nameverif" method="post"> 
				Фамилия:	<input type="text" placeholder="surname" name = "surname"><br/><br/>
				<button type="submit" >По фамилии</button>
			</form>
		</div>
		<div id="regnew" class="verify">
			<form action="/adduserrender" method="post">
				<button type="submit">Зарегистрировать нового</button>
			</form>
		</div>

	<div id="resultat">
		<% for(var i=0; i<results.length; i++) {%>
<%if(results[i].flag !='Прибув'){%>
	 <%if(results[i].name !=''){%>
		Имя: <%=results[i].name%><br/>
		Фамилия: <%=results[i].surname%><br/>
		Телефон: <%=results[i].phone%><br/>
		Начало тестрайва: <%=timetestdrive%>
		 <form action="/changflag" method="post">
		 	<button type="submit" name="idclient" value=<%=results[i]._id%>>Отметить прибытие</button>
		 	<input type="hidden" name='surname' value=<%=results[i].surname%>>
		 </form>	

		 	<% } %><br/><br/>
<%}else{%>
	 <%if(results[i].name !=''){%>
		Имя: <%=results[i].name%><br/>
		Фамилия: <%=results[i].surname%><br/>
		Телефон: <%=results[i].phone%><br/>
		Начало тестрайва:<%if(results[i].flag =='Прибув'){%><%}else{%>
		<%=timetestdrive%>
		<%}%><br/>

		<%=results[i].flag%>

		 	<% } %><br/><br/>
 <%}%>

	<% } %>
	</div>
	
	</body>
</html>