<!DOCTYPE html>
<html>
	<head>
			<link rel="stylesheet" type="text/css" href="css/verify_style.css">
		<meta charset="UTF-8"/>
		<title>
			Перевірка клієнта
		</title>
	</head>
	<body>
		<!-- зчитування qr кода потом реалізую
		<div di="qr" class="verify">
			<button type="submit">Зчитати QR</button>
		</div>
		!-->
		<div di="back" class="verify">
			<form action="/" method="get">
				<button type="submit">Повернутись</button>
			</form>
		</div>

		<div id="coddb" class="verify">
			<form action="/codverif" method="post">
				Код:	<input type="text" placeholder="cod" name = "codk" pattern="[0-9]{8}"><br/>
				<button type="submit">Ввести код</button>
			</form>
		</div>
		<div id="namedb" class="verify">
			<form action="/nameverif" method="post"> 
				Прізвище:	<input type="text" placeholder="surname" name = "surname" pattern="^[A-ZА-Я][A-Za-zА-Яа-яЁё]{1,20}$"><br/>
				<button type="submit" >По прізвищу</button>
			</form>
		</div>
		<div id="regnew" class="verify">
			<form action="/adduserrender" method="post">
				<button type="submit">Зареєструвати нового</button>
			</form>
		</div>

	<div id="resultat">
		<% for(var i=0; i<results.length; i++) {%>
<%if(results[i].flag !='Прибув'){%>
		<%=results[i].name%><br/>
		<%=results[i].surname%><br/>
		<%=results[i].phone%> <%if(results[i].name !=''){%>
		 <form action="/changflag" method="post">
		 	<button type="submit" name="idclient" value=<%=results[i].id_client%>>Відмітити прибуття</button>
		 	<input type="hidden" name='surname' value=<%=results[i].surname%>>
		 </form>	

		 	<% } %><br/><br/>
<% } %>

	<% } %>
	</div>
	
	</body>
</html>